@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300);

/* GENERAL HTML CSS */ 
body {
    background: linear-gradient(#7FB1C9, #A570CC);
    height: 100vh;
    background-repeat: repeat;
    background-position: center;
    padding-top: 50px;
    font-family: Raleway;
}
a {
    transition: all 0.5s;
}
a:hover {
    text-decoration: none;
}

/* DIV PROPERTY CSS */
.search-card {
    height: 60px;
    background: #FFF;
}
.card {
    padding: 0;
    height: 475px;
    background: #FFF;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
}
.card-view {
    background: radial-gradient(circle, #55B1FA, #2196F3);
    background-repeat: repeat;
    background-position: center;
    padding: 20px 20px;
    height: 325px;
}
.card-forecast {
    padding: 10px 20px 130px;
}
.form-control,
.form-control:focus {
    border: none;
    padding: 25px 15px;
    border-radius: 0;
    widows: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    color: #FFF;
    background: rgba(0,0,0,0.1);
    outline: none;
    box-shadow: 0px 0px 0px transparent;
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.9) !important;
}
.hideDiv {
    display: none;
}
.information {
    background: rgba(0,0,0,0.1);
    padding: 10px;
    color: #FFF;
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
    cursor: pointer;
}
.information:hover {
    background: rgba(0,0,0,0.3);
}

/* IMG PROPERTY CSS */
.intro-img {
    margin: 0 auto;
    height: 120px;
    width: auto;
}

/* BUTTON PROPERTY CSS */
.temp-buttons {
    background: transparent;
    margin: 0;
    padding: 0;
    float: right;
    margin-top: -30px;
}
.temp-butt,
.temp-butt:focus {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 16px;
    margin-top: 25px;
    padding-top: 4px;
    font-weight: bolder;
    transition: all .5s;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
}
.temp-butt:hover {
    background: #FFF;
    color: #2196F3;
}
.btn-information,
.btn-information:focus {
    color: rgba(255,255,255,0.8);
    transition: all 0.5s;
    font-size: 16px;
    border: none;
    text-align: center;
}
.btn-information:hover {
    color: #FFF;
}

/* TEXT PROPERTY CSS */
.intro-text {
    color: #333;
    font-size: 35px;
    text-align: center;
}
.intro-loading {
    color: #888;
    text-align: center;
    font-size: 18px;
}
#weather-icon {
    font-size: 80px;
    color: #FFF;
    line-height: 20px;
    text-align: left;
    margin-top: -20px;
    margin-bottom: 25px;
}
.temp {
    padding-top: 30px;
    font-size: 80px;
    color: #FFF;
    line-height: 50px;
    font-weight: 100;
    text-align: left;
}
#temperature {
    padding-top: 30px;
    font-size: 80px;
    color: #FFF;
    line-height: 50px;
    font-weight: 100;
    text-align: left;
}
#temp-type {
    font-size: 40px;
    line-height: 0;
}
#city-name {
    color: #FFF;
    font-size: 30px;
    text-align: left;
    padding-top: 15px;
}
#weather-info {
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
    line-height: 0;
    font-weight: bolder;
    text-align: left;
    padding-top: 8px;
}
/* FORECAST */
#tom-forecast-weather {
    font-size: 20px;
    color: #666;
}
#tom-icon,
#tom-1x-icon,
#tom-2x-icon,
#tom-3x-icon {
    font-size: 35px;
}
#tom-day,
#tom-1x-day,
#tom-2x-day,
#tom-3x-day {
    font-size: 14px;
    color: #888;
    font-weight: bolder;
}
.intro {
    background: #FFF;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: absolute;
    top: 0;
    padding-top: 150px;
}
.intro-text {
    color: #333;
    font-size: 35px;
    text-align: center;
}
.intro-loading {
    color: #888;
    text-align: center;
    font-size: 18px;
}

/* MODAL POPUP CSS */
.modal-dialog {
    padding-top: 100px;
    width: 450px;
}
.modal-content {
    border-radius: 0px;
    box-shadow: none;
    border: none;
}
.modal-title {
    color: #666;
    font-size: 15px;
    font-weight: bold;
}
.modal-text {
    line-height: 28px;
    font-size: 15px;
    color: #555;
    padding: 10px 5px;
    padding-right: 10px;
}
.close {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.modal-close {
    font-size: 20px;
}
.btn-social,
.btn-social:focus {
    background: #F0F0F0;
    padding: 10px 12px;
    border-radius: 2px;
    color: #888;
    margin-right: 5px;
    font-size: 13px;
    font-weight: 500;
}
.linkedin:hover {
    background: #1985BC;
    color: #FFF;
}
.twitter:hover {
    background: #55ACEE;
    color: #FFF;
}
.github:hover {
    background: #444;
    color: #FFF;
}
.link,
.link:focus {
    border-bottom: 1px dotted #A373CC;
    color: #A373CC;
}
.link:hover {
    color: #A766DE;
    border-color: #A766DE;
}

/* MEDIA QUERY CSS */
@media (max-width: 768px) {
    body {
        padding-top: 20px;
    }
    #weather-icon {
        margin-top: 10px;
    }
    .information {
        padding: 8px;
        width: 100%;
    }
    .modal-dialog {
        width: 94%;
    }
    .intro-img {
        width: 100px;
        height: auto;
    }
    .intro-text {
        font-size: 28px;
    }
}