@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300);
body {
    background: linear-gradient(#D67680, #BF7189, #5A4C69, #2A4961);
    height: 100vh;
    background-repeat: repeat;
    background-position: center;
    padding-top: 50px;
    font-family: Raleway;
}
.search-card {
    height: 60px;
    background: #FFF;
}
.card {
    padding: 0;
    height: 475px;
    background: #FFF;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
}
.card-view {
    background: radial-gradient(circle, #55B1FA, #2196F3);
    background-repeat: repeat;
    background-position: center;
    padding: 20px 20px;
    height: 325px;
}
.card-forecast {
    padding: 20px 20px 130px;
    height: 150px;
}
#weather-icon {
    font-size: 80px;
    color: #FFF;
    line-height: 20px;
    text-align: left;
    margin-top: -20px;
    margin-bottom: 25px;
}
.temp {
    padding-top: 30px;
    font-size: 80px;
    color: #FFF;
    line-height: 50px;
    font-weight: 100;
    text-align: left;
}
#temperature {
    padding-top: 30px;
    font-size: 80px;
    color: #FFF;
    line-height: 50px;
    font-weight: 100;
    text-align: left;
}
#temp-type {
    font-size: 40px;
    line-height: 0;
}
#city-name {
    color: #FFF;
    font-size: 40px;
    text-align: left;
    padding-top: 8px;
}
#weather-info {
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
    line-height: 0;
    font-weight: bolder;
    text-align: left;
}
#day-of-week {
    font-size: 16px;
    color: #999;
    text-transform: uppercase;
    font-weight: bolder;
}
#forecast-icon {
    font-size: 25px;
    color: #999;
}
#forecast-weather {
    color: #999;
    font-size: 20px;
}
#today {
    font-size: 16px;
    color: #2196F3;
    text-transform: uppercase;
    font-weight: bolder;
}
#today-icon {
    font-size: 25px;
    color: #2196F3;
}
#today-forecast-weather {
    color: #2196F3;
    font-size: 20px;
}
#tom-forecast-weather {
    color: #666;
    font-size: 20px;
}
#tom-icon,
#tom-1x-icon,
#tom-2x-icon,
#tom-3x-icon {
    font-size: 25px;
    color: #666;
}
#tom-day,
#tom-1x-day,
#tom-2x-day,
#tom-3x-day {
    font-size: 16px;
    color: #666;
    text-transform: uppercase;
    font-weight: bolder;
}
#f-or-c {
    font-size: 15px;
}
.temp-buttons {
    background: transparent;
    margin: 0;
    padding: 0;
    float: right;
    margin-top: -30px;
}
.temp-butt,
.temp-butt:focus {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 16px;
    margin-top: 25px;
    padding-top: 4px;
    font-weight: bolder;
    transition: all .5s;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
}
.temp-butt:hover {
    background: #FFF;
    color: #2196F3;
}
.form-control,
.form-control:focus {
    border: none;
    padding: 25px 15px;
    border-radius: 0;
    widows: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    color: #FFF;
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    box-shadow: 0px 0px 0px transparent;
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.9) !important;
}
.btn-search,
.btn-search:focus {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #FFF;
    color: #2A4961;
    padding-top: 12px;
    transition: all 0.5s;
}
.btn-search:hover {
    background: #D57680;
    color: #FFF;
    -webkit-transform: rotate(360deg);
}
.intro {
    background: #FFF;
    height: 100vh;
    z-index: 100;
    position: absolute;
    top: 0;
    padding-top: 150px;
}
.intro-img {
    margin: 0 auto;
    height: 150px;
    width: auto;
}
.intro-text {
    color: #333;
    font-size: 35px;
    text-align: center;
}
.intro-loading {
    color: #888;
    text-align: center;
    font-size: 18px;
}
.hideDiv {
    display: none;
}